spring:
  application:
    name: kabal-innstillinger
  main:
    banner-mode: OFF
  web:
    resources:
      add-mappings: false
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_KABAL_INNSTILLINGER_KABAL_INNSTILLINGER_HOST}:${NAIS_DATABASE_KABAL_INNSTILLINGER_KABAL_INNSTILLINGER_PORT}/${NAIS_DATABASE_KABAL_INNSTILLINGER_KABAL_INNSTILLINGER_DATABASE}
    username: ${NAIS_DATABASE_KABAL_INNSTILLINGER_KABAL_INNSTILLINGER_USERNAME}
    password: ${NAIS_DATABASE_KABAL_INNSTILLINGER_KABAL_INNSTILLINGER_PASSWORD}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    schemas: flyway_history_schema,innstillinger
    clean-disabled: true
  jpa:
    open-in-view: false
    properties:
      hibernate:
        session:
          events:
            log:
              LOG_QUERIES_SLOWER_THAN_MS: 100
  lifecycle:
    timeout-per-shutdown-phase: 20s
  servlet:
    multipart:
      #       Size limitations are also handled by app itself to get nice fault messages, but this setting seems to fail faster?
      max-request-size: 8MB
      max-file-size: 8MB
  codec:
    max-in-memory-size: 16MB
  sql:
    init:
      platform: postgresql

server:
  port: 7081
  error:
    whitelabel:
      enabled: false
  shutdown: graceful

management:
  health:
    elasticsearch:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints.web:
    exposure:
      include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true
  tracing:
    enabled: false

SERVICE_USER_USERNAME: srvklage-saksbeh

no.nav.security.jwt:
  issuer:
    aad:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
  client:
    registration:
      azure-onbehalfof:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: https://graph.microsoft.com/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      pdl-onbehalfof:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: api://${PDL_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      nom-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${NOM_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      klage-lookup-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${NAIS_CLUSTER_NAME}.${NAIS_NAMESPACE}.${KLAGE_LOOKUP_APP_NAME}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

MICROSOFT_GRAPH_URL: https://graph.microsoft.com/v1.0

EGENANSATT_KAFKA_TOPIC: nom.skjermede-personer-v1

KLAGE_LOOKUP_APP_NAME: klage-lookup
KLAGE_LOOKUP_BASE_URL: http://klage-lookup